/*......................................................................Education*/
.container {
  width: 60%;
  background-color: #333;
  margin-left: 20%;
  border-width: 2px;
  border-color: white;
}

.skills {
  text-align: right;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
}

.Photoshop {width: 60%; background-color:  #026D7A;}
.Illustrator {width: 60%; background-color: #026D7A;}
.HTML {width: 55%; background-color: #026D7A;}
.CSS {width: 50%; background-color: #026D7A;}
.JSE {width: 40%; background-color:  #026D7A;}
.JS {width: 38%; background-color: #026D7A;}
.C {width: 35%; background-color: #026D7A;}
.Bootsrap {width: 30%; background-color: #026D7A;}

/*.......................................................................Background settings*/
html, body {
  widht:100%; height:100%;
  overflow: hidden;
  background: #efefef;
  margin:0; padding:0;
}

/*.......................................................................Background Animation*/

#playArea {
  background: #333; 
}


/*.......................................................................Icon Bar Starts*/

.icon-bar {
  width: 70px;
  background-color: #3d3d3d;
  opacity: 0.9;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10%;
  padding-top: 8.5%;
  padding-bottom: 8.5%; 
}

nav ul li{
  list-style:none;
  opacity: 0.9;
  margin-left: -45px;
 /* padding-right:20px;*/
  padding-top: 8.5%;
  padding-bottom: 8.5%; 
}

nav ul li a{
  text-decoration:none;
   display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.btn :hover{
  color: #fc6850;
}

.active{
color:#fc6850;
}
 




/*.......................................................................Socail Media Icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.social-container {
  width: 400px;
  margin: -2vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.25em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #fc6850);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(1.7);
  -ms-transform: scale(1.7);
  -webkit-transform: scale(1.7);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #026D7A, #34ebd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}



/*.......................................................................Content Starts*/

.content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 50%;
  position: absolute;
  left: 70%;
  top: 50%;
  padding-left: 20px;
  padding-right: 15px;
  transform: translate(-50%, -50%);
  height:85%;
  text-align: center;
  font-family: arial;
  background-color: #3d3d3d;
  opacity: 0.9;
  color: white;
  overflow: scroll;
}

.red{
      /*margin-top: -82px;
      -webkit-transform: perspective(800px) rotateX(-80deg); 
      -moz-transform: perspective(800px) rotateX(-80deg); 
      transform: perspective(800px) rotateX(-80deg);
      margin-top: -84px;
      -webkit-transform: perspective(800px) rotateX(80deg); 
      -moz-transform: perspective(800px) rotateX(80deg); 
      transform: perspective(800px) rotateX(80deg);*/

      background-color: red;
    }


/*.......................................................................Image Card*/
* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}


.card {
  object-fit: fill;
  background-color: black;
  max-width: 31%;
  height: 95%;
  position: absolute;
  left:30%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: #333;
  border-radius: 2px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}

.card {
  opacity: 0;
  animation: LineFadeIn .5s 1.9s forwards ease-in;
}

.card__line {
  opacity: 0;
  animation: LineFadeIn .7s 1.9s forwards ease-in;
}
.card__image {
  opacity: 0;
  animation: ImageFadeIn .7s 2s forwards;
}

.card__svg {
  position: absolute;
  left: 0;
  top: 400px;
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #84c0d4;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #fc6850;
  }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}


@media screen and (max-width: 600px) {
  .icon-bar a:not(:first-child) {display: none;}
  .icon-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .icon-bar.responsive {position: relative;}
  .icon-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .icon-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }




/*.......................................................................Making Responsive*/

/*@media screen and (max-width: 800px){
  .icon-bar {
    width: 50px;
    margin-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%; 
  }

  .icon-bar a {
    padding: 12px;
    font-size: 25px;
  }

  .card {
  min-width: 85%;
  left: 52%;
  height:93%;
  z-index: -1;
}
}

@media screen and (max-width: 600px){
  .icon-bar {
    width: 50px;
    margin-left: 1%;
  }

  .icon-bar a {
    padding: 12px;
    font-size: 25px;
  }

  .card {
  min-width: 87%;
  left: 53%;
  height:95%;
  z-index: -1;
}

}*/

